{% extends "base.html" %}

{% block title %}
  <title>Topics</title>
{% endblock %}

{% block content %}
	<h2>Topics list</h2>
  {% if topic_list %}
    <table>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>
      {% for topic in topic_list %}
        <tr>
          <td>
              {{ topic.id }}
          </td>
          <td>
              {{topic}}
          </td>
          <td>
              <a href="{% url 'manage_app:topic-update' pk=topic.id %}">
                Update
              </a>
            </td>
            <td>
              <a style="color: red"
                href="{% url 'manage_app:topic-delete' pk=topic.id %}">
                Delete
              </a>
            </td>
        </tr>
      {% endfor %}
    </table>
    {% else %}
      <p>There are no topics by now</p>
  {% endif %}
  <a href="{% url 'manage_app:topic-create' %}">Create topic</a>
{% endblock %}
